@import url(//fonts.googleapis.com/css?family=Roboto:300,700,500,300italic);

body{
  font:300 14px/21px 'Roboto', 'sans-serif';
  background:#232830;
  letter-spacing: 0.1px;
  overflow-x: hidden;
  -webkit-backface-visibility:hidden;
  background-attachment:fixed;
}

#page{
  @extend .wide_layout;
  @extend .relative;
  @extend .w_xs_auto;
  background:#eee;
  padding-bottom: 20px;
}

#header{

  p, ul{
    @extend .reset;
  }

  border-top-width: 3px;
  border-top-style: solid;
  width: inherit;

  .header-top{

    padding: 8px 0;
    background-color: #201F1E;
    border-bottom: 4px solid $brand-primary;

    a{
      color: #fff;
      @extend .f_size_large;
    }
    
    #topsearch
    {
        display: inline;
        vertical-align: bottom;
        input{            
            font-size: 0.75em;
            padding: 2px 4px;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            position: relative;
            background: #fff;
            border: 1px solid #fff;
            width: 100px;
            height: 27px;
        }
        button{
            border: 1px solid #fff;
            font-size: 0.75em;
            padding: 2px 8px 2px 30px;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            margin-left: -5px;
            font-weight: bold;
            height: 27px;
            background: #C3C4C3 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAApCAYAAADeWrJ9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAC3SURBVEiJtc3JDYAwEENRQ1tQPvSRSOkjnJAg6yzOnKw5vL/lnDMAXPcF9u3vOI9zHb4isJcPZqDCmYEmzgp0cUZgiHsDU9wTEOHWgBi3BFS4NqDGNQETLg2YcUnAhc8CbnwUoOC9AA1vBah4GaDj38ASPMSwBg8xIKXEx78wFS9hGt6CKXgPduMj2IXPYDMugU24FFbjGliFa2ExboFFuBWe4h54iHvhLs6AmzgLrnAm/MPZMAA8mcp778o4YHYAAAAASUVORK5CYII=') no-repeat center left;            
        }
    }
    
  }
  
  .header-bottom{
    padding-top: 29px;

    .header-logo{
      @extend .col-xs-12;
      @extend .col-sm-12;
      @extend .col-md-12;
      @extend .col-lg-3;
      @extend .t_md_align_c;
      @extend .m_md_bottom_15;
      margin-top: -50px;
    }

    .header-menu{
      @extend .col-sm-12;
      @extend .col-md-9;
      @extend .col-lg-7;
      @extend .col-xs-12;
      @extend .clearfix;
      @extend .t_sm_align_c;
      margin-top: 29px;
      padding-right: 0;
    }
    
    .header-expo{
        @extend .col-md-3;
        @extend .col-lg-2;
        @extend .col-xs-12;
        @extend .col-sm-12;
        text-align: center;
    }

  }
}

#navigation .main-nav{
  @extend .f_left;
  @extend .f_xs_none;
  @extend .d_xs_none;
}

.menu_wrap{
  @extend .relative;
  @extend .clearfix;
  @extend .t_xs_align_c;
  @extend .m_bottom_20;

  z-index: 189;
  width: auto;

  &.sticky {
    position: fixed;
    top: 0;
  }

  ul{
    @extend .reset_ul;
  }

  > li {
    z-index: 101;
  }

  .main_menu > li > a {
    display: block;
    padding: 5px 2px 5px 8px;
    text-decoration: none !important;
    font-size: 1.1em;
    b{
      font-weight: normal !important;
      margin-right: 6px;
    }
  }

  .main_menu > li:hover > .sub_menu_wrap{
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
    -o-transform:translateY(0px);
    -ms-transform:translateY(0px);
    transform:translateY(0px);
    opacity:1;
    visibility: visible;
  }

  .main_menu > li:hover > a, .main_menu > li.current > a{    
    color:#fff;
  }  
  
  li.menu-item{
    @extend .relative;
    @extend .f_xs_none;
    @extend .m_xs_bottom_5;
    
    position: relative;
    background: #f7f7f7;
    border: 2px solid #fff;
    &:not(:last-of-type){        
        border-right: none;
        &:after, &:before {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(236, 236, 236, 0);
            border-left-color: #f7f7f7;
            border-width: 15px;
            margin-top: -15px;
        }
        &:before {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #fff;
            border-width: 18px;
            margin-top: -18px;
        }
    }
    
    &:hover, &.current{
        background: $brand-primary;        
        &:not(:last-of-type){                                
            &:after { border-color: rgba(255, 255, 255, 0); border-left-color: $brand-primary; }            
        }
    }
    
    &:first-of-type{
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }
    
    &:last-of-type{
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    
    &:not(:first-of-type){
        padding-left: 20px;
    }
    
    $var: 10;
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        $var: $var - 1;
        z-index: #{$var};        
      }
    }
    
    > a{      
      color: #666;
      @extend .tt_uppercase;      
    }
    &.extra-menu-item{
      @extend .f_right;
      margin: 10px;
      a{
        padding: 10px 20px;
        border-radius: $border-radius-base;
        background: $extra-menu-bg;
      }
    }
  }    

}

.btn-extra-menu {
  @include button-variant($extra-menu-color, $extra-menu-bg, $extra-menu-border);
}

.sub_menu_wrap {
  @extend .d_xs_none;
  @extend .tr_all_hover;
  @extend .clearfix;
  @extend .r_corners;
  position: absolute;
  left: 0;
  width: 200px;
  &.items-2{
    width: $submenu_item_width * 2 + 20px;
  }
  &.items-3{
    width: $submenu_item_width * 3 + 20px;
  }
  &.items-4{
    width: $submenu_item_width * 4 + 20px;
  }
  &.items-5{
    width: $submenu_item_width * 5 + 20px;
  }
  &.items-6{
    width: $submenu_item_width * 5;
    .sub_menu-item{
      width: $submenu_item_width - 40px;
    }
  }
  @extend .w_xs_auto;
  padding: 0;
  background: #fff;
  border-top-width: 3px;
  border-top-style: solid;
  border-color:$brand-primary;
  margin-top: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(35px);
  -moz-transform: translateY(35px);
  -o-transform: translateY(35px);
  -ms-transform: translateY(35px);
  transform: translateY(35px);
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 450px;
  &:after {
    content: "";
    width: 100%;
    height: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: -13px;
  }
  &:before {
    left: 16px;
    border-bottom-color:$brand-primary;
    content:"";
    width:0;
    height:0;
    border-left:7px solid transparent;
    border-bottom-width:8px;
    border-bottom-style:solid;
    border-right:7px solid transparent;
    position:absolute;
    top:-8px;
    right:16px;
  }

  ul.sub_menu{
    margin: 10px 0;
    li a {
      @extend .color_dark;
      @extend .tr_delay_hover;
      display: block;
      padding: 7.7px 20px;
    }
  }

  .sub_menu-item{
    margin: 10px 0;
    width: $submenu_item_width;
    @extend .w_xs_auto;
    @extend .f_left;
    @extend .f_xs_none;
//    &:not(.first){
//      @extend .m_left_10;
//      @extend .m_xs_left_0;
//    }
  }
  b{
    @extend .color_dark;
    @extend .m_left_20;
    @extend .m_bottom_5;
    @extend .m_top_5;
    @extend .d_inline_b;
  }
}

@media only screen and (max-width: 992px){
  .sub_menu_wrap {
    &.items-6{
      left: -$submenu_item_width;
    }
  }
}


#menu_button{
  @extend .centered_db;
  @extend .d_none;
  @extend .tr_all_hover;
  @extend .d_xs_block;
  @extend .m_bottom_15;
  background:$brand-primary;    
  &:hover,&.active{
    background:$brand-secondary;
    color:#fff;
  }
}

#footer{
  color:#bdc3c7;
  padding:0;
  background: $brand-secondary;
  @extend .m_top_20;
  a{
    color: #FFFFFF;
  }
  .footer_top_part{
    padding-bottom:37px;
  }

  .footer_bottom_part{
    background:#292f38;
    padding:24px 0 22px;
    color:#696e6e;
  }
}

.widget{
  @extend .shadow;
  @extend .r_corners;
  @extend .wrapper;
  @extend .m_bottom_30;
}

.side_menu{
  @extend .reset;
  @extend .reset_ul;
  margin-top:-7px;
  ul{
    @extend .reset_ul;
    margin: 0;
    padding: 0;
  }

  .active > a > span:after{
    opacity:1;
  }
  .active > a > span:before,
  a > span:after{
    opacity:0;
  }

  > li:last-child > a{
    border:none;
    padding-bottom:0px;
  }

  > li > a, ul.submenu-level-1 > li > a{
    @extend .f_size_ex_large;
  }

  a{
    @extend .d_block;
    @extend .relative;
    padding:7px 25px 7px 0;
    border-bottom:1px solid #ecf0f1;
    word-break:normal;
  }

  ul > li > a{
    padding-left:20px;
  }

  ul ul > li > a{
    padding-left:40px;
  }

  a > span{
    display:block;
    width:23px;
    height:23px;
    line-height: 23px;
    position:absolute;
    right:0;
    top:50%;
    margin-top:-11.5px;
  }

  a > span:before,
  a > span:after{
    content:"";
    width:9px;
    height:9px;
    background:url("../images/plusminus.png") no-repeat;
    position: absolute;
    display:block;
    top:50%;
    left:50%;
    margin:-5px 0 0 -4px;
    -webkit-transition:opacity .4s ease;
    -moz-transition:opacity .4s ease;
    -o-transition:opacity .4s ease;
    transition:opacity .4s ease;
  }

  a > span:after{
    height:1px;
    width:8px;
    background-position: 0 -9px;
    margin:-1px 0 0 -4px;
  }

  li:not(.active) .submenu{
    display: none;
  }

  li.active > a,li.current > a{
    color:$link-hover-color;
  }
  .menu-handler{
    @extend .bg_light_color_1;
    @extend .r_corners;
    @extend .f_right;
    @extend .color_dark;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio:0){
  .side_menu a > span:before,
  .side_menu a > span:after{
    margin-left:-5px;
  }
}

ul.breadcrumb{
  @extend .d_xs_none;
  background: #fff;
}

.social_icons li a{
  display:block;
  width:39.5px;
  height:40px;
  color:#838a8f;
}
.social_icons li a i[class^="fa "]{
  line-height: 40px;
}
.social_icons .facebook:hover a,.sw_button.facebook{background:#3b5998;}
.social_icons .twitter:hover a,.sw_button.twitter,.tw_color{background:#2daae1;}
.social_icons .google_plus:hover a{background:#f63e28;}
.social_icons .rss:hover a{background:#ff7e00;}
.social_icons .pinterest:hover a{background:#cb2027;}
.social_icons .instagram:hover a{background:#835e42;}
.social_icons .linkedin:hover a{background:#0073b2;}
.social_icons .vimeo:hover a{background:#44b0de;}
.social_icons .youtube:hover a{background:#ff3132;}
.social_icons .flickr:hover a{background:#ff0084;}
.social_icons .envelope:hover a,.sw_button.contact{background:#1abc9c;}
.sw_button.googlemap{background: $brand-primary}

#go_to_top{
  width:40px;
  height:40px;
  color:#fff;
  background:#262c34;
  position:fixed;
  left:47%;
  margin:-20px 0 0 620px;
  top:75%;
  font-size:1.65em;
  @extend .t_align_c;
  @extend .r_corners;
  @extend .tr_all_hover;
  border-width: 0;
  &:hover{
    background: $brand-primary;
  }
  &.animate_horizontal_finished{
    opacity:.5;
  }
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #eee;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(234, 234, 234, 0.75);
}

::-webkit-scrollbar-corner {
    background: #ddd;
}